<footer class="jumbotron m-0 p-1">
    <div class="fs-1 px-5 text-end ">
        <!-- imagenes de redes sociales en pie de pagina-->
        <a aria-label="Instagram" href="" class="text-decoration-none text-dark"> <i class="bi bi-instagram" width="25" height="25"> </i> </a>
        <a aria-label="Facebook" href="" class="text-decoration-none text-dark"> <i class="bi bi-facebook" width="25" height="25"></i> </a>
        <a aria-label="Twitter" href="" class="text-decoration-none text-dark"> <i class="bi bi-twitter" width="25" height="25"></i> </a>
    </div>
    <div class="text-center">
        <p> Rodolfo Gonzalez © 2022. Todos los derechos Reservados. </p>
    </div>


</footer>