<nav class="m-0 p-1 bg-primary navbar navbar-expand-lg navbar-light bg-primary bg-info"  style="width: 100%">
    <!-------------------------------------------------------------------------- -->
    <div>
        <a href="/" class="text-decoration-none">
            <div class="NavBarBrand navbar-brand text-white pl-5">
                <i class="bi bi-controller Logo""></i>
                <div class="NavBarTitle">
                    <label>GAMES</label>
                    <label>RODO</label>
                </div>
            </div>
        </a>
    </div>    
    <div class="NavBarEnd">
        <ul class="navbar-nav mr-auto NavBarEnd">
            <li class="nav-item">
                <a class="nav-link NavBarEnd text-white" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link NavBarEnd text-white" style="width: 100%" href="/carrito">Carrito</a>
            </li>
        </ul>
    </div>
    
</nav>
<!-- -------------------------------------------------------------------------- -->